<page-header [title]="'查询表格'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/integral-reward/list']">邀请有礼奖励管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>邀请有礼奖励管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>邀请有礼活动</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="inviteActivityId" placeholder="请输入邀请有礼活动（invite_activity表id）">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>奖励</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="rewardId" placeholder="请输入奖励（reward表id）">
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
        <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>

  <button nz-button [routerLink]="'../add'" [nzType]="'primary'">
    <i class="anticon anticon-plus"></i>
    <span>新建</span>
  </button>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="inviteRewards"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>邀请有礼活动</th>
      <th>奖励</th>
      <th>排序</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inviteReward of ajaxTable.data">
      <td>{{inviteReward.inviteActivity?.title}}</td>
      <td>{{inviteReward.reward?.name}}</td>
      <td>{{inviteReward.sort}}</td>
      <td>{{inviteReward.state == 0?'启用':'禁用'}}</td>
      <td>
        <a [routerLink]="'../edit/'+inviteReward.id">编辑
          <nz-divider nzType="vertical"></nz-divider>
        </a>
        <a [routerLink]="'../view/'+inviteReward.id">详情
          <nz-divider nzType="vertical"></nz-divider>
        </a>
        <nz-modal-customer (ok)="remove(inviteReward.id)" [title]="'提示！'"
                           [content]="'确认要删除吗？'"
                           [buttonName]="'删除'">
        </nz-modal-customer>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

