<div class="hy-ticket storage" [ngClass]="{'ticket-selected':ticket.checked,'disable':disable}">
    <div class="ticket-price-info">
        <div>
            <div class="sub-font heavy-font tip-color">{{ticket.parValue}}元{{ticket.couponName}}<span class="sub-font coupon-color">代金券</span></div>
            <div class="use-btn" text-center (click)="gotoUse(ticket.couponId);$event.stopPropagation()" *ngIf="ticket?.couponType=='yhq-ticket' && ticket?.state.indexOf('canuse') != -1">立即使用</div>
            <div class="coupon-color more-small-font feel-word">{{getTime(ticket.startTime)}}-{{getTime(ticket.endTime)}}</div>
        </div>
    </div>
    <div class="ticket-date-info">
        <div class="corner-img"></div>
        <div class="flex-center flex-col sub-font tip-color">
            <!--<div class="heavy-font">{{ticket.parValue}}元<span class="coupon-color">代金券</span></div>
            <div class="more-sub-font">(全部商品可用)</div>-->
            <div class="more-small-font">{{ticket.feelWord}}</div>
        </div>
        <div class="flex-space-between" style="margin: 5px 10px">
            <div class="grey more-small-font">
                <!--有效期 {{getTime(ticket.startTime)}}-{{getTime(ticket.endTime)}}-->
                <!--<span *ngIf="ticket.endTime">有效期至</span>-->
                <!--<span [innerHtml]=getTerm(ticket.endTime,ticket.fixedDay)></span>-->
            </div>
            <div class="send-btn" text-center *ngIf="ticket?.state.indexOf('canuse') != -1" (click)="sendOthers(ticket);$event.stopPropagation()">赠送</div>
        </div>
    </div>
</div>

