<page-header [title]="'查看信息'"></page-header>

<nz-card>
  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="salesAreaId">活动专区</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{areaColumn.salesArea?.title}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="title">标题</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{areaColumn.title}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="banner">banner图</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <img class="table-img-customer" [src]="areaColumn?.banner">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="showMode">排列方式</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text *ngIf="areaColumn.showMode ==1">一排展一个</nz-form-text>
      <nz-form-text *ngIf="areaColumn.showMode ==2">一排展两个</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排序</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{areaColumn.sort}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{areaColumn.state == 0?'启用':'禁用'}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{areaColumn.createTime}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ areaColumn.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
