@import "../../../global";
.group-container{
  background-color: white;
}
.group-info{
  &>div{
    margin: 7px 0;
  }
}

.group-member{
  margin-top: 10px;
  flex-wrap: wrap;
  @extend .flex-center;
  &>div{
    margin: 0 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: 100% 100%!important;
    @extend .radius;
  }
}