<page-header [title]="'查询表格'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/integral-activity/list']">邀请有礼活动管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>邀请有礼活动管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>标题</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="title" placeholder="请输入标题">
          </nz-form-control>
        </nz-form-item>
      </nz-col>

     <!--  <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>活动规则</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="rule" placeholder="请输入活动规则">
          </nz-form-control>
        </nz-form-item>
      </nz-col> -->

      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
        <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>

  <button nz-button [routerLink]="'../add'" [nzType]="'primary'">
    <i class="anticon anticon-plus"></i>
    <span>新建</span>
  </button>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="inviteActivitys"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>标题</th>
      <th>banner图</th>
      <!-- <th>活动规则</th> -->
      <th>开始时间</th>
      <th>结束时间</th>
      <th>邀请成功标示</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inviteActivity of ajaxTable.data">
      <td>{{inviteActivity.title}}</td>
      <td><img class="table-img-customer" [src]="inviteActivity?.banner"></td>
      <!-- <td>{{inviteActivity.rule}}</td> -->
      <td>{{inviteActivity.startTime}}</td>
      <td>{{inviteActivity.endTime}}</td>
      <td *ngIf="inviteActivity.inviteFlag ==1">
        注册
      </td>
      <td *ngIf="inviteActivity.inviteFlag ==2">
        购买
      </td>
      <td>{{inviteActivity.state ==0 ?'启用':'禁用'}}</td>
      <td>
        <a [routerLink]="'../edit/'+inviteActivity.id">编辑
          <nz-divider nzType="vertical"></nz-divider>
        </a>
        <a [routerLink]="'../view/'+inviteActivity.id">详情
          <nz-divider nzType="vertical"></nz-divider>
        </a>
        <nz-modal-customer (ok)="remove(inviteActivity.id)" [title]="'提示！'"
                           [content]="'确认要删除吗？'"
                           [buttonName]="'删除'">
        </nz-modal-customer>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

