<div class="head" (click)="close()">
    <div class="body">
        <ion-row class="content" justify-content-center>
            <div class="invite-focus-mall-img">
                <img src="../../../assets/app_icon/invite-register/focus-mall.png">
            </div>
        </ion-row>

        <!--<ion-row justify-content-center>-->
            <!--<div class="invite-focus-mall-close">-->
                <!--<img src="../../../assets/app_icon/new_inviter/invites-share-close.png">-->
            <!--</div>-->
        <!--</ion-row>-->
    </div>
</div>