<page-header [title]="'查看信息'"></page-header>

<nz-card>
  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="salesAreaId">活动专区</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{salesAreaCommodity?.salesArea?.title}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="commodityId">商品</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{salesAreaCommodity?.commodity?.commodityName}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排序</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{salesAreaCommodity.sort}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../edit'" [queryParams]="salesAreaCommodity.salesAreaCommodityId">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
