<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
    <form nz-form [formGroup]="commonForm">
         
        <nz-form-item>
	        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="payee">收款人</nz-form-label>
	        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                <input nz-input formControlName="payee" id="payee" placeholder="输入收款人">
                <nz-form-explain *ngIf="commonForm.get('payee').dirty&&commonForm.get('payee').errors">
                    <ng-container *ngFor="let error of formErrors.payee">
                        <nz-form-explain *ngIf="commonForm.get('payee').errors[error.name]">{{ error.msg }}
                        </nz-form-explain>
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
		    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="receiptsNo">收款账号</nz-form-label>
	            <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
	                <input nz-input formControlName="receiptsNo" id="receiptsNo" placeholder="输入收款账号">
	                <nz-form-explain *ngIf="commonForm.get('receiptsNo').dirty&&commonForm.get('receiptsNo').errors">
	                    <ng-container *ngFor="let error of formErrors.receiptsNo">
	                        <nz-form-explain *ngIf="commonForm.get('receiptsNo').errors[error.name]">{{ error.msg }}
	                        </nz-form-explain>
	                    </ng-container>
	                </nz-form-explain>
	            </nz-form-control>
         </nz-form-item>
         
        <nz-form-item>
           <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="receiptsName">收款名称</nz-form-label>
	           <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
	               <input nz-input formControlName="receiptsName" id="receiptsName" placeholder="输入收款名称">
	               <nz-form-explain *ngIf="commonForm.get('receiptsName').dirty&&commonForm.get('receiptsName').errors">
	                   <ng-container *ngFor="let error of formErrors.receiptsName">
	                       <nz-form-explain *ngIf="commonForm.get('receiptsName').errors[error.name]">{{ error.msg }}
	                       </nz-form-explain>
	                   </ng-container>
	               </nz-form-explain>
	           </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
           <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="applyAmount">申请提现金额</nz-form-label>
           <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
               <input nz-input formControlName="applyAmount" id="applyAmount" placeholder="输入申请提现金额">
               <nz-form-explain *ngIf="commonForm.get('applyAmount').dirty&&commonForm.get('applyAmount').errors">
                   <ng-container *ngFor="let error of formErrors.applyAmount">
                       <nz-form-explain *ngIf="commonForm.get('applyAmount').errors[error.name]">{{ error.msg }}
                       </nz-form-explain>
                   </ng-container>
               </nz-form-explain>
           </nz-form-control>
        </nz-form-item>
	      
	    <nz-form-item>
	         <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="paymentMethod">付款方式</nz-form-label>
	         <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
	             <nz-radio-group formControlName="paymentMethod" id="paymentMethod">
          			<label nz-radio [nzValue]="1">线下转账</label>
          			<!-- <label nz-radio [nzValue]="2">线上转账</label> -->
        		</nz-radio-group>
	             <nz-form-explain *ngIf="commonForm.get('paymentMethod').dirty&&commonForm.get('paymentMethod').errors">
	                 <ng-container *ngFor="let error of formErrors.paymentMethod">
	                     <nz-form-explain *ngIf="commonForm.get('paymentMethod').errors[error.name]">{{ error.msg }}
	                     </nz-form-explain>
	                 </ng-container>
	             </nz-form-explain>
	         </nz-form-control>
         </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
                <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                                   [buttonName]="'提交'">
                    <nz-divider nzType="vertical"></nz-divider>
                </nz-modal-customer>
                <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
            </nz-form-control>
        </nz-form-item>

    </form>
</nz-card>